<div>
<mat-form-field>
  <input matInput type="text" [(ngModel)]="firstName" placeholder="First Name">
</mat-form-field>

<mat-form-field>
  <input matInput type="text" [(ngModel)]="lastName" placeholder="Last Name">
</mat-form-field>
<mat-form-field>
  <mat-select [(value)]="companyName" placeholder="Company Name">
    <mat-option *ngFor="let company of companies"[value]="company.company_name">{{company.company_name}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <input matInput type="text" [(ngModel)]="phone" placeholder="phone">
</mat-form-field>
  <mat-form-field>
  <input matInput type="text" [(ngModel)]="email" placeholder="email">
</mat-form-field>
  <button mat-raised-button color="accent"  (click)="newUser()">Add new Customer</button>
</div>
